.ProductContainer{
    overflow: hidden;
    height: 38rem;
    width: 21rem;
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgb(208, 206, 206);
    background-color: #FFFFFF;
}
.ProductContainer img{
    height: 24rem;
    width: 17.4rem;
    /* border: 2px solid fuchsia; */
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 2rem;
}
.ProductContainer p{
    background-color: #FFFFFF;
    /* border: 2px solid fuchsia; */
    width: 17rem;
    font-size: 1.3rem;
    color: rgb(44, 41, 41);
    margin-left: 1.8rem;
    /* margin-bottom: 4rem; */
    margin-bottom: 1rem;
}
.ProductContainer span{
    background-color: #FFFFFF;
    margin-left: 1.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-weight: bolder;
    /* margin-bottom: 1rem; */
    margin-bottom: 1rem;
    color: rgb(48, 41, 41);
}
.ProductContainer button{
    background-color: #FFFFFF;
    width: 17rem;
    height: 2.7rem;
    background-color: #7064E5;
    border-radius: 6px;
    margin-left: 1.8rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
}
.ProductContainer button:hover{
    background-color: white;
    border: 1px solid #7064E5;
    color: #7064E5;
}